<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Search</h1>
    <form action="/search/something"  method="GET">
        <label>Enter name: </label>
        <input  type="text" id = "team_name" name="name" value="hi">
        <input type="submit" value="OK">
    </form>
   
    
    <ul>
    <form action="/res" method="GET">
    
        <% for(var i =0 ; i < a.length;  i++ ) { %>
            <li><%= a[i].name %></li>
            <a href="/search"+<%= a[i].email%>><%= a[i].name%></a>
            <li><%= a[i].img.url%></li>
            <li><%= a[i].email%></li>
             <img src=<%=a[i].img.url %> alt="200">
    <% } %></form>

    <a href="/search?page=1">1</a>
    <a href="/search?page=<%=nextpage  %>"><%=nextpage  %></a>
    <a href="/search?page=<%=total_item  %>"><%=total_item  %></a>
  
   
    
</ul>  
</body>
</html>