<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

        .card {
          box-shadow: 0 8px 16px 0 rgba(6, 67, 75, 0.774);
          transition: 0.3s;
          width: 40%;
        }
        
        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(7, 1, 1, 0.74);
        }
        
        .container {
          padding: 2px 16px;
        }

        .p{

        }

        .button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  size: 100px;
  padding: 15px 32px;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
.center{
    border: 2px solid #4CAF50;
    padding: 60px 100px;
}
        </style>


</head>
<body>

    <form action="/search/something"  method="GET">
        <input type="text" name="search" placeholder="Search..">
        <br><br>
        
        <button class="button button1">Search</button>
    </form>
    <br><br>
    <img src="../controller/uploads/myimage-1618646898019.jpg" alt="wow">
    <img src="/uploads/myimage-1619524643579.jpg" alt="gig">
    
        <% for(var i =0 ; i < a.length;  i++ ) { %>
            <br>
            <div class="card center" >
                <img src=<%=a[i].img.url %> width="460" height="345" alt="200">
                <div class="container">
                    <p><%= a[i].name %></p>
                    <p><%= a[i].img.url %></p>
                    
                </div>
                <br><br>
                
            </div>
        <% } %>

    </div>
<a href="/search?page=1">1</a>
    <a href="/search?page=<%=nextpage  %>"><%=nextpage  %></a>
    <a href="/search?page=<%=total_item  %>"><%=total_item  %></a>
   
</body>
</html>
../controller/uploads/myimage-1618646898019.jpg